@import "variables";
@import "mixin";
/*-------------------------
          HERO-04
-------------------------*/
.hero-04{
    .hero-item-image{
        height: 100%;
        background-size: cover !important;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .hero-swiper{
        height: 100vh;
        overflow-y: hidden;
        .hero-text{
            height: 100vh;
            overflow-y: hidden;
            .swiper-slide{
                height: 100vh;
                overflow-y: hidden; 
            }
        }
        .hero-images{
            height: 100vh;
            overflow-y: hidden;
            .swiper-slide{
                height: 100vh;
                overflow-y: hidden; 
            }
        }
    }
    .swiper-buttons{
        position: relative;
        bottom: 0;
    }
    .swiper-button-next, .swiper-button-prev {
        bottom: 0;
        top: inherit;
        width: 5rem;
        height: 3.5rem;
        background-color: $dark-2;
        outline: none !important;
    }
    .swiper-button-next::after, .swiper-button-prev::after {
        font-size: 1.5rem;
        color: $white;
        font-weight: 700;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        left: 50%;
        right: inherit;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        right: 50%;
        left: inherit;
    }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        .hero-item-text{
            margin: auto;
            position: relative;
            height: 100%;
            max-width: 400px;
            .slider-content{
                position: relative;
                top: 40%;
                transform: translateY(-50%);
                h2{
                    font-size: 4rem;
                    font-weight: bold;
                    font-family: 'Arima Madurai', cursive;
                }
            }
            .slider-number{ 
                position: absolute;
                display: inline-block;
                left: -10px;
                bottom: -60px;
                span {
                    font-family: 'Arima Madurai', cursive;
                    font-weight: 900;
                    font-size: 12rem;
                    opacity: 0.2;      
                }
            }
        }
        
    }
    .text-swiper{
        position: relative;
        height: 100%;
    }
}