@import "variables";
@import "mixin";
/*-------------------------
    OVERLAY MENU
-------------------------*/
.overlay-menu{
    background-color: $dark;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease;
    z-index: 1030;
    opacity: 0;
    visibility: hidden;
    a:hover{
        color: $base-color !important;
    }
    a.active{
        color: $base-color !important;
    }
    .overlay-menu-list{
        width: 100%;
        .overlay-nav{
            > ul{
                width: 50%;
                float: left;
            }
            a, span, p{
                color: $dbdbdb;
                font-size: $f-s-14;
                letter-spacing: 2px;
                padding: 0.75rem;
                display: inline-block;
                font-family: $poppins;
                font-weight: $f-w-500;
            }
            .contact-info {
                li:first-child span{
                    font-size: $f-s-16;
                    color: $white;
                    font-weight: $f-w-600;
                }
                li span i{
                    font-size: $f-s-18;
                    position: relative;
                    top: 2px;
                }
                .socails li i {
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }
        .list-group-item {
            padding: 0;
            margin: 0;
            border: none;
            background-color: transparent !important;
            text-transform: uppercase;
        }
    }
}
.overlay-menu.show{
    opacity: 1;
    visibility: visible;
    cursor: url(../img/cursor-white.png),auto;
}
.pilling-page .overlay-menu .overlay-menu-list .list-group-item {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent !important;
    text-transform: uppercase; }
.overlay-menu-toggler {
    position: absolute;
    top: 5px;
    color: $dark !important;
    padding: 10px;
    right: 24px;
    z-index: 1029;
    border-radius:0 4px 4px 0;
    transition: all 0.3s ease;
    opacity: 1;
}
.overlay-menu-toggler.move{
    opacity: 0;
}
