// Font Family
$poppins: 'Poppins', sans-serif;
$muli: 'Muli', sans-serif;
$Arima: 'Arima Madurai', cursive;
$lineIcon: LineIcons, sans-serif;

// Theme Color
$base-color: #e24727;
$bg-base-color: #e24727;
$p-bg: rgba(255, 74, 41, 0.3);
$selection: #b73c23;
$white: #ffffff;
$black: #000000;
$dark: #222;
$dark-2: #2a2a2b;
$dark-1: #929292;
$dbdbdb: #dbdbdb;
$eee: #eee;
$f4f4f4: #f4f4f4;
$bg-white: rgba(255, 255, 255, 0.4);
$bg-white-01: rgba(255, 255, 255, 0.7);
$bg-light: rgba(200, 200, 200, 0.05);
$bg-black: rgba(0, 0, 0, 0.8);



$fullScreen: 100vh;
$line-height-base: 1.618;
$line-height: 1.5em;
$line-height-2: 1.8em;
$font-size-base: 1rem;
$font-size-h: 2.5rem;
$font-size-h1: 3rem;
$f-s-r: 1.5rem;
$f-s-11: 11px;
$f-s-12: 12px;
$f-s-14: 14px;
$f-s-16: 16px;
$f-s-18: 18px;
$f-s-17: 17px;
$f-s-20: 20px;
$f-s-22: 22px;
$f-s-24: 24px;
$f-s-25: 25px;
$f-s-27: 27px;
$f-s-30: 30px;
$f-w-300: 300;
$f-w-400: 400;
$f-w-500: 500;
$f-w-600: 600;
$f-w-700: 700;
$p-6: 6rem;
$rd-3: 3px;
$rd-4: 4px;
$rd-5: 5px;
$rd-15: 15px;
$rd-20: 20px;
$rd-r: 0.25rem;
$rd-p-50: 50%;